@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header div {
    font-size: 24px;
    color: #F9FAF8;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header div, li {
    margin: 10px;
}

header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.top {
    background-color: #1F2937;
}

#top-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
}

#top-left-section {
    margin: 30px;
    padding: 50px;
}

#top-left-section h1, p, button {
    margin: 5px;
}
#top-left-section h1{
    font-size: 70px;
    font-weight: 900;
}

#top-left-section button {
    background-color: #3882F6;
    padding: 5px 35px;
    border-radius: 8px;
    border-style: none;
    font-size: 18px;
    color: #E5E7EB;
    cursor: pointer;
}

#top-right-section {
    white-space: nowrap;
    margin: 15px;
    padding: 50px 200px;
    background-color: #e5e7eb81;
    font-size: 18px;
    color: #E5E7EB;
}