@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*::before, *::after {
    box-sizing: inherit;
}

h1, h4, p, a, button {
    margin: 5px;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header div {
    font-size: 24px;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header div, li {
    margin: 10px;
}

a {
    text-decoration: none;
}

.top-and-footer {
    background-color: #1F2937;
}

#section-one {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#section-one-left {
    width: 50%;
    margin: 50px;
    padding: 25px;
}

#hero {
    font-size: 48px;
    font-weight: 900;
}

.btn {
    background-color: #3882F6;
    padding: 5px 35px;
    border-radius: 8px;
    border-style: none;
    font-size: 18px;
    color: #E5E7EB;
    cursor: pointer;
}

.btn:hover {
    background-color: #387bf6;
}

.btn:active {
    background-color: #3882F6;
    transform: translateY(2px);
}

#section-one-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 50px;
}

#section-one-right span {
    background-color: #e5e7eb81;
    color: #E5E7EB;
    padding: 15%;
    margin: 10%;
}

#section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

#section-two h2 {
    margin: 10px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

#section-two-cards {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 25px;
}

.box {
    background-color: inherit;
    border: thick solid #387bf6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 15px;
}

#section-three {
    display: flex;
    flex-direction: column;
    padding: 50px 65px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

#section-three-text {
    margin: 50px;
}

#section-three-text-quote {
    text-align: end;
    margin: 0px 50px 50px 50px;
}

#section-four {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 75px;
    padding: 30px;
    background-color: #3882F6;
    border-radius: 5px;
}

#btn-sign-up {
    border: 2px solid #E5E7EB;
}

footer {
    padding: 25px;
    text-align: center;
}

.white-text {
    color: #F9FAF8;
}

.normal-text {
    font-size: 18px;
}